/* --------------- Variables --------------- */ 



:root {
  --wplus-white: #FFFFFF;
  --wplus-black: #000000;
  --wplus-yellow: #F9AC00;
  --wplus-light-yellow: #FFDC97;
  --wplus-blue: #3171A8;
  --wplus-dark-blue: #091C2B;
  --transparent-bg: #f4efe9a0;
  
  --logo-text: "Raleway", sans-serif;
  --headings: "Oswald", sans-serif;
  --subheadings: "Atkinson Hyperlegible", sans-serif;
  --decorative: "Federo", sans-serif;

  --bs-gutter-x: .1rem;
}



/* --------------- Root CSS --------------- */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

html, body {
  height: 100%;
  font-family: var(--logo-text);
}

h1 {
  font-family: var(--headings);
  font-size: 4rem;
  color: var(--wplus-dark-blue);
}

h2 {
  font-family: var(--headings);
  font-size: 4rem;
  color: var(--wplus-white);
}

h3 {
  font-family: var(--headings);
  font-size: 3rem;
  color: var(--wplus-dark-blue);
}

h4 {
  font-family: var(--subheadings);
  font-size: 2rem;
  font-style: italic;
  color: var(--wplus-blue);
}

h5 {
  font-family: var(--subheadings);
  font-size: 1rem;
  color: var(--wplus-blue);
}

p {
  font-family: var(--logo-text);
  font-size: 1.2rem;
  color: var(--wplus-black);
  padding: .2rem;
  max-width: 75ch;
}

button {
  background-color: var(--wplus-yellow);
  min-height: 3rem;
  min-width: 10rem;
  padding: .5rem;
  border: 0;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
}

video {
  max-width: 80%;
  border: 1px solid transparent;
  border-radius: 25px;
}



/* --------------- Title Colour Classes --------------- */



.title-bar {
  padding: 2rem;
}

.is-white {
  background-color: var(--wplus-white);
}

.is-yellow {
  background-color: var(--wplus-yellow);
}

.is-orange {
  background-color: var(--wplus-orange);
}

.is-green {
  background-color: var(--wplus-green);
}



/*----------------------------- Nav Bar Classes -----------------------------*/



.navbar {
  position: fixed;
  transition: 1s;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 1.2rem 1rem;
}

@media (min-width: 645px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
@media (min-width: 645px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
  }
}

@media (min-width: 645px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}

.navbar-brand {
  padding: 0.5rem 0.75rem;
}


.nav-link {
  color: var(--wplus-white);
  font-family: var(--logo-text);
  font-weight: 600;
  font-size: 1.35rem;
  display: inline-flex;
  height: 100%;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .nav-item {
      padding: 0.5rem 0.75rem;
  }
}

/* Navbar Scroll */

body::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar{
  width: 14px;
}
 
body::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
  background: var(--wplus-dark-blue);
}

@media(max-width: 720px){
  body{
    background-size: 100% 100%;
  }
  .navbar-collapse{
    background: var(--wplus-dark-blue);
  }
}


/*----------------------------- Text Classes -----------------------------*/


.date {
  font-family: var(--logo-text);
  font-size: 1.5rem;
  color: var(--wplus-blue);
  font-weight: 600;
  font-style: italic;
}

.caption {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
  padding: .2rem;
  padding-top: .6rem;
}

.caption-2 {
  color: var(--wplus-blue);
  font-style: italic;
  margin: 0;
  padding: 0;
  padding-bottom: .2rem;
}


/*----------------------------- Main Classes -----------------------------*/

main {
  background-color: var(--wplus-blue);
}

.textbox-light {
  align-self: stretch;
  border-radius: 25px;
  background-color: var(--transparent-bg);
  margin: 1.5rem 0;
  padding: 0 1rem;
}

.trans-textbox.index {
  margin-top: 89px;
}

.page-title {
  text-align: center;
}

.third-content {
  width: 30%;
  align-self: stretch;
}

.half-content {
  width: 50%;
  margin: 3rem;
  padding: 2rem;
}

@media screen and (min-width: 1500px) {
  .half-content {
  margin: 4rem;
  }
}

@media screen and (max-width: 992px) {
  .half-content {
  margin: 1rem;
  padding: 1rem;
  }
}

.thumbnail-size {
  width: 350px;
  height: auto;
  border-radius: 50%;
}

img.half-content {
  border-radius: 25px;
}

.text-light {
  font-size: 1rem;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--wplus-white);
}

@media screen and (max-width: 992px) {
  .page-container {
      height: fit-content;
  }
}

.container-fluid {
  --bs-gutter-x: 0rem;
  text-align: center;
}

.container-lg {
  --bs-gutter-x: 0rem;
}

.bg-img-container {
  top: 0;
  min-height: fit-content;
  padding: 2rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.bg-img-container.projects {
  width: 100%;
  height: auto;
  background-image: url(Images/projects-header.jpg);
  flex: 1 1 0;
}

.trans-textbox {
  width: 50%;
  background-color: var(--transparent-bg);
  border-radius: 25px;
  padding: 2rem;
}

.trans-textbox.wide {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .trans-textbox {
    padding: 4rem;
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .trans-textbox {
    padding: 2rem;
  }
}

.text-blob-container {
  text-align: center;
  width: 70%;
  height: fit-content;
  background-color: var(--transparent-bg);
  padding: 2rem;
  border-radius: 25px;
}

@media screen and (max-width: 1200px) {
  .text-blob-container {
      height: 40%;
      width: 80%;
      margin-bottom: 4rem;
  }
}


/* --------------- Landing Page Classes --------------- */

.bg-img-container.index {
  width: 100%;
  height: auto;
  background-image: url(Images/landing-bg.png);
  flex: 1 1 0;
}

/* --- Landing Animations --- */


.text-blob-container {
  position: relative;
  display: inline-block;
  bottom: -100px;
  opacity: 0;
  z-index: 11;
}

.text-blob-container.active {
  bottom: 0;
  opacity: 1;
  transition: ease-out 0.5s;
}

.text-blob-container.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-out 0.5s;
}


/*----------------------------- Footer Classes -----------------------------*/

.footer-container {
  background-color: var(--wplus-dark-blue);
  padding: .5rem 1rem .5rem 1rem;
}

.landing-footer {
  background-color: #131414d2;
}

.copyright-text {
  margin: 0;
}