p {
  max-width: 60ch;
}


.profiles {
    width: 300px;
    height: 300px;
    margin: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    color: transparent;
    font-size: 1.8rem;
  }

.profiles:hover {
    border-radius: 25px;
    color: black;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
 
 /* ---------- About Background ---------- */
 
 main.content-pages {
    background-size: 100%;
  }
 
  @media screen and (max-width: 1200px) {
    main.content-pages {
      background-image: none;
    }
  }
 